#ignore everything
*

#except these files
!*/
!.gitignore
!*.sh
!*.r
!*.py
!*.c
!*.cpp
!*.js
!*.html
!*.css
!/change_point_detection/from_unsupervised_to_supervised/javascript/d3/*
!/change_point_detection/from_unsupervised_to_supervised/javascript/bootstrap/css/*
!/change_point_detection/from_unsupervised_to_supervised/javascript/bootstrap/fonts/*
!/change_point_detection/from_unsupervised_to_supervised/javascript/bootstrap/js/*
