#ignore everything
*
/change_point/unsupervised/plots
/change_point/unsupervised/prints

#except these files
!/thesis/**
!.gitignore
!*.sh
!*.R
!*.py
!*.c
!*.cpp
!*.hpp
!*.js
!*.html
!*.css
!*.php
!*.sql
!*/
